version: 2
updates:
- package-ecosystem: npm
  directory: /
  schedule:
    interval: daily
    time: 00:00
  open-pull-requests-limit: 10
  reviewers:
  - d3sox
  assignees:
  - d3sox
  commit-message:
    prefix: fix
    prefix-development: chore
    include: scope
  cooldown:
    default-days: 7
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: daily
    time: 00:00
  open-pull-requests-limit: 10
  reviewers:
  - d3sox
  assignees:
  - d3sox
  commit-message:
    prefix: fix
    prefix-development: chore
    include: scope
  cooldown:
    default-days: 7
